In [1]:
from datetime import date, datetime
import numpy as np
import pandas as pd
import perspective

 WARN perspective_server::local_client: `Session` dropped before init

In [2]:
data = pd.DataFrame({
    "int": np.arange(100),
    "float": [i * 1.5 for i in range(100)],
    "bool": [True for i in range(100)],
    "date": [date.today() for i in range(100)],
    "datetime": [datetime.now() for i in range(100)],
    "string": [str(i) for i in range(100)]
})

In [3]:
data

    int  float  bool        date                   datetime string
0     0    0.0  True  2024-10-02 2024-10-02 11:44:26.250168      0
1     1    1.5  True  2024-10-02 2024-10-02 11:44:26.250169      1
2     2    3.0  True  2024-10-02 2024-10-02 11:44:26.250170      2
3     3    4.5  True  2024-10-02 2024-10-02 11:44:26.250170      3
4     4    6.0  True  2024-10-02 2024-10-02 11:44:26.250171      4
..  ...    ...   ...         ...                        ...    ...
95   95  142.5  True  2024-10-02 2024-10-02 11:44:26.250211     95
96   96  144.0  True  2024-10-02 2024-10-02 11:44:26.250211     96
97   97  145.5  True  2024-10-02 2024-10-02 11:44:26.250212     97
98   98  147.0  True  2024-10-02 2024-10-02 11:44:26.250212     98
99   99  148.5  True  2024-10-02 2024-10-02 11:44:26.250213     99

[100 rows x 6 columns]

In [4]:

table = perspective.Table(data, index="float")

AttributeError: module 'perspective' has no attribute 'Table'